<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li class="sidebar-item"> <a routerLink="/" class="sidebar-link waves-effect waves-dark sidebar-link"
                        aria-expanded="false"><i class="fas fa-clock fa-fw" aria-hidden="true"></i><span
                            class="hide-menu">Dashboard</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        routerLink="/addsubmember" aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i><span class="hide-menu">Add Submember</span></a>
                </li>
                <!-- <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        routerLink="/todos" aria-expanded="false"><i class="fa fa-table" aria-hidden="true"></i><span
                            class="hide-menu">Todo</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        routerLink="/register" aria-expanded="false"><i class="fa fa-table" aria-hidden="true"></i><span
                            class="hide-menu">Registers</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        routerLink="/logoutmember" aria-expanded="false"><i class="fa fa-table" aria-hidden="true"></i><span
                            class="hide-menu">Logout Member</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        routerLink="/login" aria-expanded="false"><i class="fa fa-font" aria-hidden="true"></i><span
                            class="hide-menu">Login</span></a></li> -->
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        routerLink="/projects" aria-expanded="false"><i class="fa fa-globe" aria-hidden="true"></i><span
                            class="hide-menu">Project</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        routerLink="/roles" aria-expanded="false"><i class="fa fa-columns" aria-hidden="true"></i><span
                            class="hide-menu">Roles</span></a></li>
                <!-- <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        routerLink="/comments" aria-expanded="false"><i class="fa fa-columns"
                            aria-hidden="true"></i><span class="hide-menu">comments</span></a></li> -->
            </ul>

        </nav>
    </div>
</aside>