<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Total Todos</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li class="ml-auto"><span class="counter text-purple">{{todos.length}}</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Pending Todos</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li class="ml-auto"><span class="counter text-purple">{{ptodos}}</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Completed Todos</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li class="ml-auto"><span class="counter text-purple">{{ctodos}}</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Total Members</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li class="ml-auto"><span class="counter text-purple">{{members.length}}</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Total Projects</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li class="ml-auto"><span class="counter text-purple">{{projects.length}}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="plugins/bower_components/jquery/dist/jquery.min.js"></script>
<script src="plugins/bower_components/popper.js/dist/umd/popper.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/app-style-switcher.js"></script>
<script src="plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="js/waves.js"></script>
<script src="js/sidebarmenu.js"></script>
<script src="js/custom.js"></script>
<script src="plugins/bower_components/chartist/dist/chartist.min.js"></script>
<script src="plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="js/pages/dashboards/dashboard1.js"></script>